ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    // background-color: ;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    display: inline-block;
    width: 100%;


    li {
        float: left;
        padding: 0 10px;

        &.profile {
            float: right;
        }
    }

    &.ar {
        direction: rtl;

        li {
            float: right;

            &.profile {
                float: left;
            }
        }
    }
}


li a {
    display: block;
    color: #626C83;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;

    &.active,
    &:hover {
        color: #8A1538;
    }
}

li a:hover {
    // background-color: #111;
}

li.icon {
    // float: right;

    a {
        padding: 0;
        height: 45px;
        display: inline-block;
    }

    img {
        height: 100%;
        padding: 5px;
    }
}