<div [class.ar]="lang =='ar'">
    <div class="tabs-links">
        <p class="sub-title">
            <a [routerLink]="'/Inventory/list'">
                {{ 'inventory-management.list.title' | translate}}
            </a>
        </p>
        <p class="sub-title active">
            <a [routerLink]="'/Inventory/warehouses'">
                {{ 'inventory-management.warehouses.title' | translate}}
            </a>
        </p>
    </div>
    <div class="filters-container">
        <div class="list-container">
            <div class="filter">
                <mat-form-field appearance="fill" class="mySelectForm">
                    <mat-label>Warehouse Code:</mat-label>
                    <mat-select multiple [(ngModel)]="selectedCode" panelClass="select-class"
                        (selectionChange)="updateFilteredResults()">
                        <mat-option [style]="selectOptionStyle" *ngFor="let val of distinctCodes "
                            [value]="val">{{val}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <a *ngIf="!!selectedCode && selectedCode.length > 0" class="clear-sel"
                    (click)="clearFilter('ITEM_CODE')">clear selection</a>
            </div>
            <!-- <div class="filter">
                <mat-form-field appearance="fill" class="mySelectForm">
                    <mat-label>HSN Code</mat-label>
                    <mat-select multiple [(ngModel)]="selectedHSN" panelClass="select-class"
                        (selectionChange)="updateFilteredResults()">
                        <mat-option [style]="selectOptionStyle" *ngFor="let val of distinctHSNs "
                            [value]="val">{{val}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <a *ngIf="!!selectedHSN && selectedHSN.length > 0" class="clear-sel"
                    (click)="clearFilter('HSN_CODE')">clear selection</a>
            </div>
            <div class="filter">
                <mat-form-field appearance="fill" class="mySelectForm">
                    <mat-label>Category:</mat-label>
                    <mat-select multiple [(ngModel)]="selectedCategorie" panelClass="select-class"
                        (selectionChange)="updateFilteredResults()">
                        <mat-option [style]="selectOptionStyle" *ngFor="let val of distinctCategories "
                            [value]="val">{{val}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <a *ngIf="!!selectedCategorie && selectedCategorie.length > 0" class="clear-sel"
                    (click)="clearFilter('ITEM_CATEGORY')">clear selection</a>
            </div>
            <div class="filter">
                <mat-form-field appearance="fill" class="mySelectForm">
                    <mat-label>Classification:</mat-label>
                    <mat-select multiple [(ngModel)]="selectedClassification" panelClass="select-class"
                        (selectionChange)="updateFilteredResults()">
                        <mat-option [style]="selectOptionStyle" *ngFor="let val of distinctClassifications "
                            [value]="val">{{val}}</mat-option>
                    </mat-select>
                    <a *ngIf="!!selectedClassification && selectedClassification.length > 0" class="clear-sel"
                        (click)="clearFilter('ITEM_CLASSIFICATION')">clear selection</a>
                </mat-form-field>
            </div> -->
        </div>
    </div>
    <div class="table-container">

        <table mat-table [dataSource]="filteredResults" class="elevation-z8">

            <!-- Code Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> {{'inventory-management.warehouses.id' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.WAREHOUSE_CODE}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'inventory-management.warehouses.name' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.WAREHOUSE_NAME}} </td>
            </ng-container>

            <!-- Address Column -->
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> {{'inventory-management.warehouses.address' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.COUNTRY}} {{element.CITY}} {{element.STREET}} -
                    {{element.LOCATION}} </td>
            </ng-container>

            <!-- POSTAL Column -->
            <ng-container matColumnDef="postal">
                <th mat-header-cell *matHeaderCellDef> {{'inventory-management.warehouses.postal' | translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.POSTAL_CODE}}</td>
            </ng-container>

            <!-- action Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> {{'inventory-management.warehouses.quick-action' | translate}}
                </th>
                <td mat-cell *matCellDef="let element"> <a
                        [routerLink]="'../warehouses/details/'+element.WAREHOUSE_CODE">{{'inventory-management.warehouses.details'
                        |
                        translate}}</a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>